# Dependencias
node_modules/

# Builds
dist/
build/
.next/
out/

# Turborepo
.turbo/

# Variables de entorno (nunca se commitean, solo los .example)
.env
.env.local
.env.*.local

# Prisma
apps/backend/prisma/generated/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Tests / coverage
coverage/

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
